
body {
    background-color: #9CCFD8;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #31748f;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

header a {
    padding: 10px;
}

main {
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;  
}

p {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #26233A
}

button, a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #26233A
}

a:visited {
    color: #C4A7E7;
    text-decoration: underline overline #C4A7E7;
}
  
a:hover {
    background: #31748f;
}

.sep_note {
    display: flex;
    justify-content: space-between;

}
.button {     
    border: none;
    background: none;
    cursor: pointer;  
}

.slide_menu {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    background-color: #C4A7E7;
}
.slide_button {
    font-size: 30px;
}

.slide_bar {
    padding-bottom: 50px;
    display: flex;
}

.new_note {
    display: flex;
    justify-content: center;
}

.note {
    margin-right: 650px;
    margin-top: 200px;
}


/* @media screen and (max-width: 500px) { */