
body {
    background-color: #9CCFD8;
    margin: 0;
}

header {
    background-color: #9CCFD8;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    width: auto;
}

header a {
    padding: 10px;
    color: #191724;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

p {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #191724
}

button, a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #191724
}

.sep_note {
    padding-top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.button {     
    border: none;
    background: none;
    cursor: pointer;  
}

#create_notes {
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.side_menu {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #C4A7E7;
    overflow-x: hidden;
  }

.slide_button {
    font-size: 30px;
    float: right;
    padding: 15px;
}

.slide_bar {
    padding-bottom: 50px;
    display: flex;
}

.new_note {
    display: flex;
    justify-content: center;
}

.note {
    font-family: 'Roboto Slab', serif;
}

.list_notes {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    font-weight: bold;

}

.add_note {
    font-size: 30px;
}


.save {
    text-align: right;
}



.notepad {
    display: flex;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #C4A7E7;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

 @media screen and (max-width: 600px) {
    #sep_note {
        padding: 10px;
    }

    .sidenav {
        width: 20%;
        padding: 5px;
        height: 100%;
    }
 }
