

body {
    background-color: #9CCFD8;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #31748f;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

header a {
    padding: 10px;
}

main {
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;  
}

.button {     
    border: none;
    background: none;
    cursor: pointer;  
}

.slide_bar {
    padding-bottom: 50px;
    display: flex;
}

.new_note {
    display: flex;
    justify-content: center;
}


/* @media screen and (max-width: 500px) { */